/* Common styles */
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Mulish', sans-serif;
  color: #434455;
  background-color: #000000;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-around;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* /Common styles */
/* ------------------Mobile styles--------------------------------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 367px;
    margin: 0 auto;
    position: relative;
  }
  .flex {
    width: 367px;
    margin: 0 auto;
  }
}
.header {
  background-color: #000000;
  padding: 25px 0;
}
.header-logo {
  z-index: 999;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 0;
  position: relative;
  margin-left: 10px;
}
.m-logo {
  font-family: 'Lemon', serif;
  font-weight: 400;
  margin-right: 27px;
  font-size: 35px;
}
.m-logo::after {
  display: block;
  position: absolute;
  width: 60px;
  height: 55px;
  border-radius: 14px;
  border: 4px solid #26fff2;
  content: '';
  top: -27px;
  left: -12px;
}
.header-nav {
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: none;
  flex-direction: row;
  gap: 53px;
}

.header-list-link {
  color: #c2c2c2;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover,
.header-list-link:focus {
  color: #0aeff7;
}

.current {
  color: #fff;
  font-weight: 800;
}

.header-list-link.current::after {
  display: block;
  position: absolute;
  width: 46px;
  height: 2px;
  border-radius: 50px;
  border-radius: 50px;
  background: var(
    --Brand-grd,
    linear-gradient(317deg, #26fff2 13.2%, #326cff 71.54%)
  );
  content: '';
  bottom: -5px;
  left: -1px;
}
.menu-icons {
  display: flex;
  gap: 15px;
}
.svg-button {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.svg-button:hover,
.svg-button:focus {
  .icon-nav {
    fill: #0aeff7;
  }
}

.icon-nav {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}
/* --------------------------/HEADER STYLES----------------------------- */

/* --------------------------HERO STYLES---------------------------------------- */
.hero {
  position: relative;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2f2e2e;
  z-index: 2;
}

.text {
  position: relative;
  width: 195px;
  height: 340px;
  box-shadow: 6px 25px 25px 37px #000;
  background-color: black;
}

.background-image {
  background-image: url(./images/bc-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 370px;
}

@media screen and (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
  .background-image {
    background-image: url(./images/bc-mobile@2x.jpg);
  }
}

.hero-title {
  width: 225px;
  color: #fff;
  font-family: 'Marcellus', serif;
  font-size: 35px;
  line-height: 1.15;
  font-weight: 400;
  margin-bottom: 30px;
  padding-top: 30px;
}

.hero-list {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.hero-list-item {
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.6;
  position: relative;
}
.oval::after {
  display: block;
  position: absolute;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  border: 1.5px solid #26fff2;
  content: '';
  top: 1.5px;
  left: -9px;
}
.star {
  color: #ffbd33;
  margin-right: 2px;
}

.hero-text {
  width: 200px;
  color: #c2c2c2;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.55;
}

.hero-button {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  border: transparent;
  background: var(
    --Brand-grd,
    linear-gradient(317deg, #26fff2 13.2%, #326cff 71.54%)
  );
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.25;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-bg {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  border: transparent;
  background: white;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.25;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-list {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 560px) {
  .hero-title {
    font-size: 45px;
    width: 290px;
  }
  .hero-list {
    gap: 30px;
  }
  .hero-list-item {
    font-size: 16px;
  }
  .oval::after {
    width: 50px;
    height: 25px;
    top: 1px;
    left: -12px;
  }
  .hero-text {
    width: 300px;
    font-size: 13px;
  }
  .hero-button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }
  .hero-button-bg {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .hero-button-list {
    display: flex;
    gap: 20px;
  }

  .text {
    width: 240px;
  }
  .background-image {
    background-image: url(./images/bc-mobile-large.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 400px;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .background-image {
      background-image: url(./images/bc-mobile@2x.jpg);
    }
  }
}

.hero-button-item {
  padding-top: 15px;
}
.hero-button-item:hover,
.hero-button-item:focus {
  .hero-button,
  .hero-button-bg {
    transform: scale(1.1);
  }
}

.hero-button-span {
  display: none;
}

.play {
  position: relative;
  top: 2px;
  left: -5px;
}

/* ----------------------------/HERO STYLES------------------------------------ */

/* --------------------------------MAIN STYLES------------------------------ */

.film-modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  width: 290px;
  height: 500px;
  position: relative;
}

.close-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 13px;
  z-index: 999;
  padding: 0;
  border: none;
  line-height: 0;
  background-color: transparent;
}

.film-about {
  display: block;
  width: 280px;
  color: #c2c2c2;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.55;
}

.box {
  width: 280px;
  margin: 0 auto;
}

.film-img {
  height: 200px;
  margin: 4px 0 0 4px;
  border-radius: 10px;
}

.film-creater {
  width: 140px;
  color: #c2c2c2;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
}

.wrapper {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.film-actors {
  margin-bottom: 10px;
  color: #c2c2c2;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.55;
}

.modal {
  height: 30px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: -10px;
}

.tvShow {
  padding-top: 71px;
}

.TvShow-title {
  margin: 0 0 30px 10px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 71%;
  color: #fff;
  position: relative;
}

.TvShow-title::before {
  position: absolute;
  border-radius: 50px;
  width: 25px;
  height: 5px;
  content: '';
  left: -20px;
  top: 4px;
  background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
  transform: rotate(90deg);
}

.splide__slide a img {
  margin: 0 auto;
  border-radius: 20px;
}

.splide__arrow--next {
  right: -0.1em;
}

.splide__arrow--prev {
  left: -0.1em;
}

.splide {
  max-width: 290px;
  margin: 0 auto 68px;
}

.new {
  width: 170px;
  height: 260px;
}

.TvShow-list {
  display: none;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 68px;
  max-width: 300px;
  margin: 0 auto;
}

.Tv-Show-lidt-item {
  display: none;
}

.Tv-Show-lidt-item:first-child {
  display: block;
  margin: 0 auto;
}

.Tv-Show-lidt-item {
  width: 200px;
}

.Tv-Show-lidt-item img {
  border-radius: 20px;
  transition: box-shadow 0.2s ease;
  width: 200px;
  height: 300px;
}

.Tv-Show-lidt-item img:hover,
.Tv-Show-lidt-item img:focus {
  box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
}

.movies-title {
  margin: 0 0 30px 10px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 71%;
  color: #fff;
  position: relative;
}

.movies-title::before {
  position: absolute;
  border-radius: 50px;
  width: 25px;
  height: 5px;
  content: '';
  left: -20px;
  top: 4px;
  background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
  transform: rotate(90deg);
}

.movies-list {
  display: none;
  gap: 41px;
  margin-bottom: 35px;
}

.movies-list li img {
  border-radius: 20px;
  transition: box-shadow 0.2s ease;
}

.movies-list li img:hover,
.movies-list li img:focus {
  box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
}

.movies-list li {
  display: none;
}

.movies-list li:first-child {
  display: block;
  margin: 0 auto;
}

.movies-list-more {
  display: none;
}

.play {
  position: relative;
  top: 2px;
  left: -5px;
}
.movies-button {
  display: none;
  margin: 0 auto;
  width: 110px;
  height: 40px;
  border-radius: 50px;
  border: transparent;
  background: var(
    --Brand-grd,
    linear-gradient(317deg, #26fff2 13.2%, #326cff 71.54%)
  );
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.25;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movies-button:hover,
.movies-button:focus {
  transform: scale(1.1);
}

.trendingMovies {
  padding-bottom: 100px;
}

.genres-list {
  display: none;
  flex-wrap: wrap;
  gap: 27px;
  justify-content: center;
}

.genres-list li {
  display: none;
}

.genres-list li:first-child,
.genres-list li:first-child + li {
  display: block;
  margin: 0 auto;
}

.genres-title {
  margin: 0 0 30px 10px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 71%;
  color: #fff;
  position: relative;
}

.genres-title::before {
  position: absolute;
  border-radius: 50px;
  width: 25px;
  height: 5px;
  content: '';
  left: -20px;
  top: 4px;
  background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
  transform: rotate(90deg);
}

.genres-list li img {
  border-radius: 20px;
  transition: box-shadow 0.2s ease;
  width: 250px;
}

.genres-list li img:hover,
.genres-list li img:focus {
  box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
}

.genres-slide-img {
  width: 220px;
}

.popular-genres {
  padding-bottom: 70px;
}

#slider2 {
  margin-bottom: 0;
}
.actors-title {
  margin: 0 0 30px 10px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 71%;
  color: #fff;
  position: relative;
}

.actors-title::before {
  position: absolute;
  border-radius: 50px;
  width: 25px;
  height: 5px;
  content: '';
  left: -20px;
  top: 4px;
  background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
  transform: rotate(90deg);
}

.actors-list {
  display: none;
  justify-content: center;
  gap: 25px;
}

.actors-list li img {
  width: 120px;
  border-radius: 100px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease;
}

#slider3 .splide__track .splide__list .splide__slide a img {
  border-radius: 100px;
}

#slider3 .splide__track .splide__list .splide__slide p {
  width: auto;
  text-align: center;
}
.actors-list li img:hover,
.actors-list li img:focus {
  box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
}
.popular-actors {
  padding-bottom: 50px;
}

.actors-list li {
  text-align: center;
  display: none;
}

.actors-list li:first-child,
.actors-list li:first-child + li {
  display: block;
}

.name {
  display: block;
  width: 100px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #fff;
  margin: 0 auto;
}

.banner {
  margin: 0 auto;
  max-width: 300px;
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.1);
  background: linear-gradient(47deg, #0d1a73 29.09%, #000 70.41%);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.bunny-baner {
  width: 150px;
  height: 85px;
}

.coming-banner {
  width: 100px;
  position: absolute;
  left: 170px;
  top: 10px;
}

.coming-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 31%;
  text-transform: capitalize;
  color: #fff;
  position: absolute;
  left: 170px;
  top: 68px;
}

.coming {
  padding-bottom: 50px;
}

.register-banner {
  width: 290px;
  border-radius: 20px;
  opacity: 0.7;
  margin: 0 auto;
}

.filter {
  position: relative;
  padding-bottom: 90px;
  width: 290px;
  margin: 0 auto;
}

.filter img {
  width: 290px;
}

.register-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30px;
  top: 20px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: capitalize;
  color: #fff;
}

.register-button {
  width: 70px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 2px;
  border-radius: 50px;
  border: transparent;
  background: var(
    --Brand-grd,
    linear-gradient(317deg, #26fff2 13.2%, #326cff 71.54%)
  );
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 9px;
  font-weight: 800;
  line-height: 1.25;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-button:hover,
.register-button:focus {
  transform: scale(1.1);
}
/* ============================/MAIN============================= */

/* ============================FOOTER======================== */
.footer {
  background-color: #101012;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin: 70px auto 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 0;
  position: relative;
}
.m-logo-footer {
  font-family: 'Lemon', serif;
  font-weight: 400;
  margin-right: 27px;
}
.m-logo-footer::after {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 14px;
  border: 4px solid #26fff2;
  content: '';
  top: -35px;
  left: -14px;
}

.footer-menu {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  text-align: start;
  margin-bottom: 70px;
}

.footer-menu li a {
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  color: #c2c2c2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu li a:hover,
.footer-menu li a:focus {
  color: #0aeff7;
}

.footer-menu li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* -------------------------------/FOOTER---------------------------- */

/*  ================================/MOBILE STYLES===================== */

/* ===================================TABLET STYLES=========================== */
@media screen and (min-width: 768px) {
  head {
    width: 768px;
  }

  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  /* -------------------------------HEADER-------------------------- */

  .header-nav-list {
    display: flex;
    gap: 33px;
  }

  .header-list-item:nth-child(4) {
    margin-right: 30px;
  }

  .burger-button {
    display: none;
  }
  /* -------------------------------/HEADER-------------------------- */

  /* --------------------------------MAIN--------------------------- */
  .background-image {
    background-image: url(./images/bc-tablet.jpg);
    height: 500px;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .background-image {
      background-image: url(./images/bc-tablet@2x.jpg);
    }
  }

  .text {
    width: 380px;
    height: 500px;
  }

  .hero-title {
    width: 390px;
    font-size: 60px;
    margin-bottom: 40px;
  }

  .hero-list {
    gap: 40px;
    margin-bottom: 20px;
  }

  .hero-list-item {
    font-size: 16px;
  }
  .oval::after {
    width: 60px;
    height: 24px;
    left: -16.5px;
  }

  .hero-text {
    width: 380px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .hero-button {
    width: 121px;
    height: 45px;
  }

  .hero-button-bg {
    width: 165px;
    height: 45px;
  }

  .hero-button-span {
    display: inline;
  }

  .hero-button-list {
    gap: 25px;
  }

  .hero-button-item {
    padding: 0;
  }

  .film-modal {
    width: 730px;
    height: 600px;
  }

  .film-about {
    width: 700px;
    margin: 20px;
    font-size: 15px;
  }

  .film-img {
    width: 260px;
    height: 360px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .film-creater {
    width: 290px;
    font-size: 21px;
    line-height: 2.1;
  }

  .wrapper {
    display: flex;
    gap: 30px;
    margin: 0 0 10px 0;
  }

  .box {
    width: auto;
    margin: 0 0 0 20px;
  }

  .film-actors {
    font-size: 19px;
    margin: 0 0 15px 0;
  }

  .modal {
    margin-right: 140px;
  }

  .film-about {
    margin: 0;
  }

  .tvShow {
    padding-top: 71px;
  }

  .TvShow-title {
    margin: 0 0 40px 15px;
    font-size: 26px;
  }

  .TvShow-title::before {
    width: 30px;
    height: 6px;
    left: -25px;
    top: 6px;
  }

  .TvShow-list {
    display: none;
    flex-wrap: nowrap;
    gap: 41px;
    max-width: none;
  }

  .splide__arrow--next {
    right: -1.8em;
  }

  .splide__arrow--prev {
    left: -1.8em;
  }

  .splide {
    max-width: 690px;
    margin: 0 auto 68px;
  }

  .Tv-Show-lidt-item:first-child {
    margin: 0;
  }

  .Tv-Show-lidt-item img {
    width: 206px;
    height: 309px;
  }

  .movies-title {
    font-size: 26px;
    margin: 0 0 40px 15px;
  }

  .movies-title::before {
    width: 30px;
    height: 6px;
    left: -25px;
    top: 6px;
  }

  .movies-list {
    display: none;
    flex-wrap: nowrap;
    gap: 41px;
    max-width: none;
    margin-bottom: 55px;
  }

  .movies-list li:first-child {
    margin: 0;
  }

  .movies-button {
    width: 121px;
    height: 45px;
    font-size: 16px;
    margin: 0;
  }

  .genres-list {
    display: none;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
  }

  .genres-list li:first-child,
  .genres-list li:first-child + li {
    margin: 0;
  }

  .genres-list li img {
    width: auto;
  }

  .genres-title {
    font-size: 26px;
    margin: 0 0 40px 15px;
  }

  .genres-title::before {
    width: 30px;
    height: 6px;
    left: -25px;
    top: 6px;
  }

  .actors-title {
    font-size: 26px;
    margin: 0 0 40px 15px;
  }

  .actors-title::before {
    width: 30px;
    height: 6px;
    left: -25px;
    top: 6px;
  }

  .actors-list {
    display: none;
    flex-wrap: nowrap;
    gap: 35px;
    max-width: none;
    margin-bottom: 55px;
  }

  .actors-list li img {
    width: auto;
    border-radius: 100px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease;
  }

  .banner {
    max-width: 738px;
  }

  .bunny-baner {
    width: 369px;
    height: 210px;
  }

  .coming-banner {
    width: 200px;
    left: 454px;
    top: 40px;
  }

  .coming-text {
    width: auto;
    left: 396px;
    top: 155px;
    font-size: 42px;
  }

  .coming {
    padding-bottom: 80px;
  }

  .register-banner {
    width: 738px;
  }

  .filter {
    width: 738px;
  }

  .filter img {
    width: 738px;
  }

  .register-text {
    top: 40px;
    font-size: 42px;
  }

  .register-button {
    width: 120px;
    height: 40px;

    top: 60px;
    right: 40px;
    font-size: 14px;
  }

  .register-button:hover,
  .register-button:focus {
    transform: scale(1.1);
  }

  /* --------------------------------/MAIN-------------------------- */

  /* --------------------------------FOOTER-------------------------- */

  .footer-container {
    margin: 0 auto;
    max-width: 768px;
    align-items: start;
  }

  .footer-logo {
    margin: 70px 0 0 12px;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .footer-menu li {
    width: max-content;
    gap: 25px;
  }

  .footer-menu li:first-child {
    width: 125px;
  }

  /* --------------------------------/FOOTER-------------------------- */
}
/* ==================================/TABLET STYLES=========================== */

/* ====================================== DEKSTOP STYLES=============================*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* -------------------------------------HEADER----------------------------- */

  .menu-icons {
    display: flex;
    gap: 45px;
  }

  /* -------------------------------------/HEADER----------------------------- */

  /* ------------------------------------MAIN---------------------------------- */

  .film-modal {
    display: block;
    width: 800px;
    height: 570px;
  }

  .film-about {
    width: 700px;
    margin: 20px;
    font-size: 15px;
  }

  .film-img {
    width: 260px;
    height: 360px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .film-creater {
    width: 290px;
    font-size: 19px;
    line-height: 2;
  }

  .wrapper {
    display: flex;
    gap: 30px;
    margin: 0;
  }

  .film-actors {
    margin-bottom: 10px;
    color: #c2c2c2;
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.55;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #c2c2c2;
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.55;
  }

  .film-modal .hero-button {
    margin-left: 330px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .film-modal .hero-button:hover,
  .film-modal .hero-button:focus {
    margin-left: 330px;
    transform: scale(1.1);
  }

  .background-image {
    background-image: url(./images/bc.jpg);
    height: 550px;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .background-image {
      background-image: url(./images/bc@2x.jpg);
    }
  }

  .text {
    width: 562px;
  }

  .hero-title {
    font-size: 80px;
    width: 532px;
    padding-top: 70px;
    margin-bottom: 32px;
  }

  .hero-text {
    font-size: 18px;
    width: 507px;
  }

  .hero-button {
    width: 141px;
    height: 50px;
    font-size: 16px;
  }
  .hero-button-bg {
    width: 195px;
    height: 50px;
    font-size: 16px;
  }

  .TvShow-title {
    font-size: 28px;
  }

  .TvShow-title::before {
    width: 35px;
    height: 8px;
    left: -35px;
    top: 5px;
  }

  .TvShow-list {
    display: flex;
    gap: 21px;
  }

  .Tv-Show-lidt-item {
    display: inline;
  }

  .Tv-Show-lidt-item img {
    width: 170px;
    height: 260px;
  }

  .movies-title {
    font-size: 28px;
  }

  .movies-title::before {
    width: 35px;
    height: 8px;
    left: -35px;
    top: 5px;
  }

  .movies-list {
    display: flex;
    gap: 21px;
  }

  .movies-list li {
    display: inline;
  }

  .movies-list li img {
    width: 170px;
    height: 260px;
  }

  .movies-list-more {
    display: flex;
    gap: 21px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .visible {
    opacity: 1;
  }

  .hidden {
    opacity: 0;
    height: 1px;
    pointer-events: none;
  }

  .movies-list-more li a img {
    border-radius: 20px;
    width: 170px;
    height: 260px;
    transition: box-shadow 0.2s ease;
  }

  .movies-list-more li img:hover,
  .movies-list-more li img:focus {
    box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
  }

  .movies-button {
    display: block;
    width: 141px;
    height: 50px;
    font-size: 16px;
  }

  .delete {
    display: none;
  }

  .genres-title {
    font-size: 28px;
  }

  .genres-title::before {
    width: 35px;
    height: 8px;
    left: -35px;
    top: 5px;
  }

  .genres-list {
    display: flex;
    gap: 27px;
    width: 1128px;
  }

  .genres-list li {
    display: inline;
  }

  .genres-list li img {
    width: 260px;
    height: 150px;
  }

  .actors-title {
    font-size: 28px;
  }

  .actors-title::before {
    width: 35px;
    height: 8px;
    left: -35px;
    top: 5px;
  }

  .actors-list {
    display: flex;
    gap: 40px;
  }

  .actors-list li {
    display: inline;
  }

  .actors-list li img {
    width: 150px;
    height: 150px;
  }

  .name {
    width: auto;
  }

  .banner {
    width: 1128px;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.1);
    background: linear-gradient(47deg, #0d1a73 29.09%, #000 70.41%);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    max-width: none;
  }

  .bunny-baner {
    width: 564px;
    height: 300px;
  }

  .coming-banner {
    width: 260px;
    left: 720px;
    top: 50px;
  }

  .coming-text {
    width: 460px;
    font-size: 60px;
    left: 635px;
    top: 220px;
  }

  .coming {
    padding-bottom: 101px;
  }

  .filter {
    margin-bottom: 101px;
    width: auto;
  }

  .register-text {
    left: 50px;
    top: 55px;
    font-size: 64px;
  }

  .filter img {
    width: 1128px;
    max-width: none;
  }

  .register-button {
    width: 141px;
    height: 50px;
    top: 110px;
    right: 80px;
    font-size: 16px;
  }

  .register-button:hover,
  .register-button:focus {
    transform: scale(1.1);
  }

  /* ------------------------------------/MAIN---------------------------------- */

  /* ------------------------------------FOOTER------------------------------ */
  .footer-container {
    max-width: 1128px;
    gap: 52px;
    flex-direction: row;
  }

  .footer-logo {
    margin-top: 102px;
  }

  .footer-menu {
    gap: 40px;
    margin-bottom: 70px;
  }

  .footer-menu li:first-child {
    width: 200px;
  }

  /* -----------------------------------/FOOTER------------------------------- */
}

/* ====================================== /DEKSTOP STYLES=============================*/

@media screen and (min-width: 1420px) {
  .hero {
    max-width: 1700px;
    margin: 0 auto;
  }
  .text {
    height: 680px;
  }

  .background-image {
    background-image: url(./images/cb.jpg);
    height: 700px;
  }

  @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .background-image {
      background-image: url(./images/cb.jpg);
    }
  }
}
